---
import Wrapper from '../../components/Base/Wrapper.astro';
import Pagination from '../../components/Blog/Pagination.astro';
import PostList from '../../components/Blog/PostList.astro';
import H1 from '../../components/Heading/H1.astro';
import H2 from '../../components/Heading/H2.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { type Page, type PaginateFunction } from 'astro';
import { getBlogPostList } from '../../lib/api/blogPost';
import DateList from '../../components/Blog/DateList.astro';
import TagCloud from '../../components/Blog/TagCloud.astro';
import type { BlogPostDate } from '../../lib/api/blogDate';
import { getDates } from '../../lib/api/blogDate';
import { getTags } from '../../lib/api/blogTag';

interface Props {
	page : Page,
	dates : BlogPostDate
}

export async function getStaticPaths({paginate} : {paginate : PaginateFunction}) {
	const pages = await getBlogPostList({})
	return paginate(pages, {pageSize: 3})
}

const { page } = Astro.props
const dates = await getDates()
const tags  = await getTags()
---

<BaseLayout props
	title={`Blog Posts - Page ${page.currentPage}`}
	description="The blog of Nova Alexander: digital artist and writer. Nova is a queer, disabled, traditionally trained artist and the author of Blood And Thorn"
	lang="en"
>

	<section class="mt-28">
		<Wrapper width='max' padding='inline'>
			<H1>Blog</H1>
		</Wrapper>
	</section>

	<section>
		<Wrapper width="max" padding='inline' class="relative grid md:grid-cols-[1fr_150px] gap-2">
            <PostList posts={page.data} />
			<div>
				<div class="sticky top-24">
					<DateList {dates} />
				</div>
			</div>
		</Wrapper>
	</section>

    <Pagination {page} />
		
	<section>
		<Wrapper width="max" padding="inline">
			<H2 class="mt-12 ">
				<a href="/blog/tag">
					More Topics
				</a>
			</H2>
			<TagCloud {tags} />
		</Wrapper>
	</section>

</BaseLayout>