---
import H1 from "../../components/Heading/H1.astro";
import Wrapper from "../../components/Wrapper.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Image from "../../components/Image.astro";
import PortableTextWrapper from "../../components/PortableTextWrapper.astro";
import { getBlogPostList, blogPostData } from "../../components/Blog/PostList.astro";
import BackToBlog from "../../components/Blog/BackToBlog.astro";

    
export async function getStaticPaths() {
    const blogPostList = await getBlogPostList(blogPostData)
    return blogPostList.map( post => {
        return {
            params: {slug : post.slug},
            props : post
        }
    } )
}

// const { slug } = Astro.params
const { post, image, title, deviantArtUrl, threadsUrl, instagramUrl, tumblrUrl, tags, date,   } = Astro.props
---

<BaseLayout props
	title="Blog"
	description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in expedita beatae perferendis quod qui perspiciatis numquam."
	lang="en"
>

	<section class="mt-28">
		<Wrapper width='text' padding='inline' class="min-h-[600px]">

            <BackToBlog />

			<H1 class="mb-2">
                {title}
            </H1>

            {tags && (
                <div class="flex gap-4 font-semibold flex-wrap text-base mb-2">
                    { tags.map( tag => (
                       <a href={`/blog/tag/${tag}`} class="hover:underline text-primary-400">
                           #{tag}
                       </a>
                   ))}
                </div>
            )}

            <Image 
                src={image.url}
                width={image.width}
                height={image.height}
                alt={title}
                class="w-full mb-4 rounded-md"
            />

            <PortableTextWrapper value={post} />


		</Wrapper>
	</section>
