---
import H1 from "../../components/Heading/H1.astro";
import Wrapper from "../../components/Wrapper.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Image from "../../components/Image.astro";
import PortableTextWrapper from "../../components/PortableTextWrapper.astro";
import { getBlogPostList, blogPostData } from "../../components/Blog/PostList.astro";
import BackToBlog from "../../components/Blog/BackToBlog.astro";
import DeviantArtIcon from "../../components/icons/DeviantArtIcon.astro";
import InstagramIcon from "../../components/icons/InstagramIcon.astro";
import ThreadsIcon from "../../components/icons/ThreadsIcon.astro";
import TumblrIcon from "../../components/icons/TumblrIcon.astro";

    
export async function getStaticPaths() {
    const blogPostList = await getBlogPostList(blogPostData)
    return blogPostList.map( post => {
        return {
            params: {slug : post.slug},
            props : post
        }
    } )
}

const { post, image, title, deviantArtUrl, threadsUrl, instagramUrl, tumblrUrl, tags, date,   } = Astro.props

const hasSocialLink = deviantArtUrl || threadsUrl || tumblrUrl || instagramUrl
---

<BaseLayout props
	title={title}
	description={post ? post.slice(0,100) : ''}
	lang="en"
>

	<section class="mt-28">
		<Wrapper width='text' padding='inline'>

            <BackToBlog />

			<H1 class="mb-2">
                {title}
            </H1>

            {tags && (
                <div class="flex gap-x-4 font-semibold flex-wrap text-base mb-4">
                    { tags.map( tag => (
                       <a href={`/blog/tag/${tag.hyphen}`} class="hover:underline text-primary-400">
                           #{tag.space}
                       </a>
                   ))}
                </div>
            )}

            <Image 
                src={image.url}
                width={image.width}
                height={image.height}
                alt={title}
                class="w-full mb-4 rounded-md"
            />

            <p class="font-semibold mb-4">
                {date}
            </p>

            <PortableTextWrapper value={post} />

            { hasSocialLink && (

                <div class="flex items-center gap-6 [&_svg]:scale-150 mt-8">

                    <span>
                        View this post on:
                    </span>
    
                    { deviantArtUrl && (
                        <a href={deviantArtUrl} class="hover:text-primary-700">
                            <DeviantArtIcon />    
                        </a>
                    )}
    
                    { instagramUrl && (
                        <a href={instagramUrl} class="hover:text-primary-700">
                            <InstagramIcon />    
                        </a>
                    )}
    
                    { tumblrUrl && (
                        <a href={tumblrUrl} class="hover:text-primary-700">
                            <TumblrIcon />    
                        </a>
                    )}
    
                    { threadsUrl && (
                        <a href={threadsUrl} class="hover:text-primary-700">
                            <ThreadsIcon />    
                        </a>
                    )}
    
                </div>
            )}

		</Wrapper>
	</section>
