---
import Wrapper from '../components/Wrapper.astro';
import H1 from '../components/Heading/H1.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Image from '../components/Image.astro';
import GalleryModal from '../components/GalleryModal.astro';
import { client } from '../lib/api/api';
import { getImageMetaDataFromURL } from '../lib/api/utils';
import type { ImageMetaData } from '../lib/api/api';

interface Artwork {
    title : string,
    description : string,
    image : ImageMetaData,
    tags : string | string[]
}

const data = await client.fetch(`
	*[ _type == 'artwork']  | order(_createdAt desc) {
		title,
		description,
		"imageURL" : image.asset->url,
		tags
	}
`)

const artWorkList : Artwork[] = data.map( (art : any) => {
	const image = getImageMetaDataFromURL(art.imageURL)
	return { image, ...art }
}  )

function formatArtworkDescription(desc : string, maxLength: number ) : string {
	if( !desc || typeof desc !== 'string' ) return ''
	if( desc.length > maxLength ) return desc.slice(0,maxLength) + '...'
	return desc
}
---

<BaseLayout props
	title="Home"
	description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in expedita beatae perferendis quod qui perspiciatis numquam."
	lang="en"
>

	<section class="mt-28">
		<Wrapper width='max' padding='inline' class="">
			<H1>Featured Art</H1>

			<div 
				data-gallery-tags 
				class="flex items-center gap-2 flex-wrap justify-center mb-4"
			/>

			<div class="flex justify-center items-stretch gap-2 lg:gap-6 flex-wrap">

				{ artWorkList.map( (art, i) => (
					<button data-art-button class=" hover:cursor-pointer relative group overflow-hidden">
						<Image 
							src={art.image.url}
							width={art.image.width}
							height={art.image.height}
							alt=""
							class='h-[125px] lg:h-[250px] w-auto rounded-md  art-button-animation'
							lazy={true}
							data-description={art.description}
							data-title={art.title}
							data-tags={JSON.stringify(art.tags)}
							data-index={i}
						/>

						<div class="hidden lg:grid place-items-center absolute inset-0 p-4 bg-primary-100/80 opacity-0 group-hover:opacity-100 transition-all duration-300 ">
							<h2 class="text-lg font-bold font-theme translate-y-4 group-hover:translate-y-0 transition-all duration-300 m-0">
								{art.title}
							</h2>
						</div>
					</button>
				) )}

			</div>

		</Wrapper>
	</section>

	<GalleryModal slot='pageEnd' />

</BaseLayout>


<style is:global>

@keyframes art-img {
	from {
		opacity: 0;
		/* scale : 1.1;  */
	}
	to {
		opacity: 1;
		scale : 1;
	}
}

.art-button-animation {
    animation : art-img 1s cubic-bezier(0.22, 1, 0.36, 1) both;
}

</style>