---
import Wrapper from '../components/Wrapper.astro';
import H1 from '../components/Heading/H1.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import ArtModal from '../components/ArtModal.astro';
import Image from '../components/Image.astro';
import { imageList } from '../lib/imageList';

---

<BaseLayout props
	title="Home"
	description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in expedita beatae perferendis quod qui perspiciatis numquam."
	lang="en"
>

	<section class="mt-28">
		<Wrapper width='max' padding='inline' class="">
			<H1>Featured Art</H1>

			<p class="mb-8">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure laborum optio ipsum at porro voluptates et, aliquid cum doloremque autem obcaecati, nemo itaque, beatae iste laboriosam maxime non ipsam distinctio?
			</p>

			<div class="flex justify-center items-stretch gap-2 lg:gap-6 flex-wrap">

				{ imageList.map( (img, i) => (
					<button data-art-button class=" hover:cursor-pointer relative group">
						<Image 
							src={img.src}
							width={img.width}
							height={img.height}
							alt=""
							class='h-[125px] lg:h-[250px] w-auto rounded-md'
							data-description={img.description}
							data-title={img.title}
							data-index={i}
						/>

						<div class="text-left absolute inset-0 p-4 bg-primary-100/80 opacity-0  group-hover:opacity-100 transition-all duration-300 ">
							<h2 class="text-xl font-bold font-theme translate-y-4 group-hover:translate-y-0 transition-all duration-300">
								{img.title}
							</h2>
							<p class=" translate-y-8 group-hover:translate-y-0 transition-all duration-300">
								{img.description}
							</p>
						</div>
					</button>
				) )}

			</div>

		</Wrapper>
	</section>

	<ArtModal slot='pageEnd' />

</BaseLayout>

