---
import PortableTextWrapper from '../components/Base/PortableTextWrapper.astro';
import SocialsContact from '../components/Base/SocialsContact.astro';
import Wrapper from '../components/Base/Wrapper.astro';
import Image from '../components/Base/Image.astro';
import H1 from '../components/Heading/H1.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { client, type ImageMetaData } from '../lib/api/api'
import { getImageMetaDataFromURL } from '../lib/api/utils';

interface Bio {
    bioImage : ImageMetaData,
    section1content : any[],
    section2content : any[]
}

const [data] = await client.fetch(`
	*[ _type == 'bio' ] {
		"bioImageURL" : bioImage.asset->url,
		section1content,
		section2content
	}
`)

const content: Bio = {
	bioImage : getImageMetaDataFromURL(data.bioImageURL),
	...data
}
---

<BaseLayout props
	title="Artist Bio"
	description="NOVA ALEXANDER - queer, disabled, traditionally trained digital artist and writer living in the Greater Vancouver Area of Canada"
	lang="en"
>

	<section class="mt-28">
		<Wrapper width='max' padding='inline' class="">
			<H1>Bio - About Me</H1>
		</Wrapper>
	</section>

	<section class="bg-primary-100 bg-[url('/img/cloud-bg.webp')] bg-cover">
		<Wrapper width='max' padding='inline' class="grid md:grid-cols-[2fr_0.5fr] gap-12 md:gap-36 items-center py-6">
			
			<PortableTextWrapper value={content.section1content} class="max-w-[70ch]" />

			<Image 
				src={content.bioImage.url}
				width={content.bioImage.width}
				height={content.bioImage.height}
				alt="Portrait of the artist, Nova Alexander"
				class=' w-3/4 md:w-full mx-auto md:m-0 md:scale-[1.60] lg:scale-[1.40] md:origin-right'
			/>

		</Wrapper>
	</section>


	<section>
		<Wrapper width="max" padding='both' class='grid md:grid-cols-[1fr_auto] gal-12 md:gap-24 items-start'>

			<PortableTextWrapper value={content.section2content} />

			<SocialsContact />
		</Wrapper>
	</section>

</BaseLayout>
