---
import Wrapper from '../components/Wrapper.astro';
import H1 from '../components/Heading/H1.astro';
import Image from '../components/Image.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { client } from '../lib/api/api';
import PortableTextWrapper from '../components/PortableTextWrapper.astro';
import Button from '../components/Button.astro';
import TextFlow from '../components/TextFlow.astro';
import Socials from '../components/Socials.astro';
import type { ImageMetaData } from '../lib/api/api';
import { getImageMetaDataFromURL } from '../lib/api/utils';

interface BloodAndThorns {
    section1image : ImageMetaData,
    section1content : any[],
    section2image : ImageMetaData,
    section2content : any[]
}

const [data] = await client.fetch(`
	*[ _type == 'bloodAndThorns' ] {
		"section1imageURL" : section1image.asset->url,
		section1content,
		"section2imageURL" : section2image.asset->url,
		section2content
	}
`)

const content : BloodAndThorns = {
	section1image : getImageMetaDataFromURL(data.section1imageURL),
    section2image : getImageMetaDataFromURL(data.section2imageURL),
	...data
}
---

<BaseLayout props
	title="Blood And Thorns"
	description="Blood and Thorns is a fully illustrated book and a partial graphic novel. As well as the initial released prose, the characters of Blood and Thorns are featured in many short stories."
	lang="en"
>

	<section class="mt-28">
		<Wrapper props width="max" padding='inline'>
			<H1>Blood and Thorns</H1>
		</Wrapper>

		<Wrapper props width="max" padding='inline'>
			<div class="relative grid lg:grid-cols-[auto_1fr] items-stretch justify-center mx-auto gap-8 flex-wrap">
	
				<Image 
					src={content.section1image.url}
					width={content.section1image.width}
					height={content.section1image.height}
					alt=""
					role="presentation"
					class='max-h-[80vh] w-auto sticky top-0 ml-auto rounded hidden lg:block'
				/>
	
				<div>
					<Image 
						src={content.section1image.url}
						width={content.section1image.width}
						height={content.section1image.height}
						alt=""
						role="presentation"
						class='max-h-auto w-1/2 ml-2 rounded lg:hidden float-right'
					/>
					<PortableTextWrapper value={content.section1content} />

					<Button 
						href="https://www.worldanvil.com/w/ozelea-pinkchaosstories"
						class="mt-8"
					>
						Read Blood and thorns for free on World Anvil
					</Button>
				</div>
	
			</div>
		</Wrapper>

		<Wrapper width="text" padding='inline'>
			<PortableTextWrapper value={content.section2content} />

			<Button 
				href="https://www.worldanvil.com/w/ozelea-pinkchaosstories"
				class="mt-8"
			>
				Read Blood and thorns for free on World Anvil
			</Button>
		</Wrapper>

		<Wrapper width='text' padding='inline'>
			<TextFlow>
				<p>
					To support Nova Alexander and the world of Blood and Thorns, you can head over to Ko-fi for single-time donations, monthly subscriptions, digital downloads, and more. See you there!					
				</p>
			</TextFlow>

			<a 
				href="https://ko-fi.com/pinkartwitch"
				class="block my-6 rounded-lg border-2 border-primary-500 hover:border-primary-200 overflow-hidden mx-auto"
			>
				<Image 
					src="/img/kofi_button_stroke.png"
					width={600}
					height={81}
					alt="Link to Ko-fi - PinkArtWitch"
					class="w-full h-auto"
				/>
			</a>
		</Wrapper>

	</section>

</BaseLayout>
