---
import Hero from '../components/Hero.astro';
import Wrapper from '../components/Wrapper.astro';
import H1 from '../components/Heading/H1.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { client } from '../lib/api/api';
import Image from '../components/Image.astro';
import PortableTextWrapper from '../components/PortableTextWrapper.astro';
import Socials from '../components/Socials.astro';
import { formatSocialMediaPostDate, getImageListMetaData, getImageMetaDataFromURL } from '../lib/api/utils';
import SocialMediaPost from '../components/SocialMediaPost.astro';
import type { ImageMetaData } from '../lib/api/api';
import H2 from '../components/Heading/H2.astro';

interface HomeContent {
    hero:  {
        headline: string,
        subHeadline: string,
        featuredArt : ImageMetaData[]
    },
    intro: any[],
	bloodAndThornsIntro : any[]
}

type SocialMediaPostList = {
	description : string,
	tags : string[],
	date : string,
	image : ImageMetaData
}[]

const [heroData] = await client.fetch(`
	*[ _type == 'home']{
		heroHeadline, 
		heroSubHeadline,
		"featuredArtURLs" : featuredArt[].asset->url,
		intro,
		bloodAndThornsIntro
	}
`)
	
const content: HomeContent = {
	hero : {
		headline : heroData.heroHeadline,
		subHeadline : heroData.heroSubHeadline,
		featuredArt : getImageListMetaData(heroData.featuredArtURLs)
	},
	intro : heroData.intro,
	bloodAndThornsIntro : heroData.bloodAndThornsIntro
}

const socialMediaPostData = await client.fetch(`
	*[ _type == 'socialMediaPost'] | order(date desc)[0..4] {
		description,
		tags,
		date,
		"imageURL" : image.asset->url
	}
`)

const socialMediaPostList: SocialMediaPostList = socialMediaPostData.map( (postData: any) => {
	postData.date = formatSocialMediaPostDate(postData.date)
	const metaData = getImageMetaDataFromURL(postData.imageURL)
	return { image: metaData, ...postData}
})	
---

<BaseLayout props
	title="Home"
	description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in expedita beatae perferendis quod qui perspiciatis numquam."
	lang="en"
>

	<Hero>
		<Fragment slot="heroHeadline">{content.hero.headline}</Fragment>
		<Fragment slot="heroSubHeadline">{content.hero.subHeadline}</Fragment>
		<Fragment slot="heroArt">
			{ content.hero.featuredArt.map( img => (
				<Image 
					src={img.url}
					width={img.width}
					height={img.height}
					alt=''
					aria-hidden
				/>
			))}
		</Fragment>
	</Hero>

	<section>
		<Wrapper width='text' padding='both' class="relative">

			<PortableTextWrapper value={content.intro} />

			<Image
				src="/img/intro-dots.svg"
				width={179}
				height={176}
				alt=""
				class='absolute -z-10 -left-[90px] top-1/2 -translate-y-1/2'
			/> 
		</Wrapper>
	</section>


	<section class="relative overflow-hidden py-4 bg-gradient-to-b from-transparent via-primary-200 to-transparent">
		<Wrapper width="max" padding='inline' class='grid lg:grid-cols-[auto_1fr] gap-8'>

			<Image 
				src="/img/blood-and-thorns.webp"
				width={647}
				height={100}
				alt=""
				class="h-[80vh] w-auto max-h-[600px] rounded-lg  order-2 lg:order-1"
			/>

			<div class="bg-primary-100/30 p-8 rounded-lg grid items-center relative order-1 lg:order-2">

				<div class="relative z-10">
					<PortableTextWrapper value={content.bloodAndThornsIntro} />
				</div>

				<Image 
					src="/img/hero-star-circle.webp"
					width={137}
					height={142}
					alt=""
					class="hidden md:block absolute top-12 right-0 translate-x-1/3 mix-blend-multiplyd scale-[2]"
				/>
			</div>
		</Wrapper>
	</section>


	<section id="social-media">

		<Wrapper width="max" padding='both'>

			<H2>Social Media</H2>

			<div class="grid gap-8">

				{ socialMediaPostList.map(post => <SocialMediaPost {...post } /> )}

			</div>
		</Wrapper>

	</section>


	<Socials />

</BaseLayout>
