---
import Hero from '../components/Hero.astro';
import Wrapper from '../components/Wrapper.astro';
import H1 from '../components/Heading/H1.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { client } from '../lib/api/api';
import Image from '../components/Image.astro';
import PortableTextWrapper from '../components/PortableTextWrapper.astro';
import Socials from '../components/Socials.astro';
import { formatSocialMediaPostDate, getImageListMetaData, getImageMetaDataFromURL } from '../lib/api/utils';
import SocialMediaPost from '../components/SocialMediaPost.astro';
import type { ImageMetaData } from '../lib/api/api';

interface HomeContent {
    hero:  {
        headline: string,
        subHeadline: string,
        featuredArt : ImageMetaData[]
    },
    intro: any[]
}

type SocialMediaPostList = {
	description : string,
	tags : string[],
	date : string,
	image : ImageMetaData
}[]

const [heroData] = await client.fetch(`
	*[ _type == 'home']{
		heroHeadline, 
		heroSubHeadline,
		"featuredArtURLs" : featuredArt[].asset->url,
		intro
	}
`)
	
const content: HomeContent = {
	hero : {
		headline : heroData.heroHeadline,
		subHeadline : heroData.heroSubHeadline,
		featuredArt : getImageListMetaData(heroData.featuredArtURLs)
	},
	intro : heroData.intro,
}

const socialMediaPostData = await client.fetch(`
	*[ _type == 'socialMediaPost'] | order(date desc)[0..4] {
		description,
		tags,
		date,
		"imageURL" : image.asset->url
	}
`)

const socialMediaPostList: SocialMediaPostList = socialMediaPostData.map( (postData: any) => {
	postData.date = formatSocialMediaPostDate(postData.date)
	const metaData = getImageMetaDataFromURL(postData.imageURL)
	return { image: metaData, ...postData}
})	
---

<BaseLayout props
	title="Home"
	description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in expedita beatae perferendis quod qui perspiciatis numquam."
	lang="en"
>

	<Hero>
		<Fragment slot="heroHeadline">{content.hero.headline}</Fragment>
		<Fragment slot="heroSubHeadline">{content.hero.subHeadline}</Fragment>
		<Fragment slot="heroArt">
			{ content.hero.featuredArt.map( img => (
				<Image 
					src={img.url}
					width={img.width}
					height={img.height}
					alt=''
					aria-hidden
				/>
			))}
		</Fragment>
	</Hero>

	<section>
		<Wrapper width='text' padding='both' class="relative">

			<PortableTextWrapper value={content.intro} />

			<Image
				src="/img/intro-dots.svg"
				width={179}
				height={176}
				alt=""
				class='absolute -z-10 -left-[90px] top-1/2 -translate-y-1/2'
			/> 
		</Wrapper>
	</section>


	<section class="bg-slate-900">
		<Wrapper padding='both'>
			<H1>Blood and Thorns</H1>
	
			<p>Place holder textLorem ipsum dolor sit amet consectetur adipisicing elit. Hic officia expedita impedit odit rem accusantium vel eum modi velit ipsam ullam aliquam temporibus alias ducimus, soluta, illo itaque repellat. Magni neque delectus dolore mollitia repudiandae aspernatur praesentium reiciendis saepe deleniti id sint molestiae totam officiis alias velit nihil culpa, corporis voluptatem! Magnam, assumenda corporis maiores quaerat fugiat maxime adipisci. Neque deleniti temporibus voluptatem vero earum inventore nemo unde dolore tempore, obcaecati doloremque enim nesciunt? Nisi omnis doloremque accusamus, quam corporis, sequi reprehenderit voluptatem adipisci nemo nobis commodi. Assumenda nam ipsa quod sed molestias odio repellat enim nulla eius. Necessitatibus, dicta.</p>
		</Wrapper>
	</section>


	<section id="social-media">

		<Wrapper width="max" padding='both'>

			<H1>
				Social Media
			</H1>

			<div class="grid gap-8">

				{ socialMediaPostList.map(post => <SocialMediaPost {...post } /> )}

			</div>
		</Wrapper>

	</section>


	<Socials />

</BaseLayout>
