---
import { SITE_BASE_PATH, SITE_SHORT_NAME, SITE_URL } from '../../config';

interface Props {

    title : string,
    description : string,

    /**
     * @prop title : string
     * @prop description : string
     * @prop slot
     */
    props? : true
}

const {
    title,
    description
} = Astro.props
---
<head>
    <meta 
        http-equiv="Content-Security-Policy" 
        content=`default-src ${import.meta.env.Dev? 'http:' : 'https:'}; 
                manifest-src 'self';
                font-src 'self';
                img-src 'self' https://cdn.sanity.io; 
                object-src 'self';
                connect-src 'self' https://v81020gt.apicdn.sanity.io;
                script-src 'self' ${import.meta.env.DEV ? 'http://localhost:4321' : ''};
                ${import.meta.env.DEV 
                    ? "style-src 'unsafe-inline';" 
                    : "style-src 'self';"
                }
                style-src-attr 'unsafe-inline';
    `/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png">

    <link rel="manifest" href="/site.webmanifest">
    
    <meta name="description" content={description}>

    <title>
        {`${title} - ${SITE_SHORT_NAME}`} 
    </title>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={`${SITE_URL}${SITE_BASE_PATH}`}>
    <meta property="og:type" content="website">
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content={SITE_URL + '/meta/og.webp'}>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content={SITE_URL}>
    <meta property="twitter:url" content={`${SITE_URL}${SITE_BASE_PATH}`}>
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content={SITE_URL + '/meta/og.webp'}>

    <slot />
</head>