---
import Wrapper from "./Wrapper.astro";
import Image from "./Image.astro";
import type { HTMLAttributes } from "astro/types";
import { PAGES, SOCIAL_LINKS } from "../config";
import NavLink from "./Nav/NavLink.astro";
import DeviantArtIcon from "./icons/DeviantArtIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import ThreadsIcon from "./icons/ThreadsIcon.astro";
import TumblrIcon from "./icons/TumblrIcon.astro";
import KofiIcon from "./icons/KofiIcon.astro";
import Socials from "./Socials.astro";

interface Props extends HTMLAttributes<'footer'> {}
const {...rest} = Astro.props

const totalPages = PAGES.length
---

<Socials />

<footer class="bg-[url(/img/footer-stars-bg.webp)] bg-contain bg-no-repeat bg-bottom text-primary-500" {...rest}>
    <Wrapper padding="inline" width="max" class="pb-16 grid gap-12 lg:gap-8">

        <a href="/" class="flex flex-col items-center mx-auto text-primary-500">
            <Image 
                src="/img/logo.webp"
                width={48}
                height={48}
                alt="Homepage Link"
            />
            <span class="font-bold text-md">
                @PinkArtWitch
            </span>
        </a>

        <nav>
            <ul class="flex items-center justify-center gap-x-2 flex-wrap mx-auto">
                { PAGES.map( (page, i: number) => {
                    return page.group.includes('header') && (
            
                        <NavLink href={page.path} title={page.title} class="text-base">{page.title}</NavLink>
                        <>
                            {i + 1 !== totalPages ? (
                                <Image src="/img/nav-star.svg" width={13} height={13} alt="" class="" /> 
                            ) : (
                                ''
                            )}
                        </>
            
                    )
                })}
            </ul>
        </nav>


        <ul class="social-links flex items-center gap-6 social-links justify-center text-primary-500">
            <li>
                <a href={SOCIAL_LINKS.instagram}>
                    <InstagramIcon />
                </a>
            </li>
        
            <li>
                <a href={SOCIAL_LINKS.deviantArt}>
                    <DeviantArtIcon />
                </a>
            </li>
        
            <li>
                <a href={SOCIAL_LINKS.tumblr}>
                    <TumblrIcon />
                </a>
            </li>
        
            <li>
                <a href={SOCIAL_LINKS.threads}>
                    <ThreadsIcon />
                </a>
            </li>
        
            <li>
                <a href={SOCIAL_LINKS.kofi}>
                    <KofiIcon />
                </a>
            </li>
        </ul>

        <p class="text-center">
            Copyright { new Date().getFullYear() } @PinkArtWitch
        </p>

    </Wrapper>
</footer>


