---
import { HEADER_LOGO_DIMENSIONS, HEADER_LOGO_PATH, LOGO_NAME, SITE_FULL_NAME } from '../config';
import Image from '../components/Image.astro'

interface Props {

    class? : string,

    /**
     * none
     */
    props? : true
}

const { 
    class: className,
} = Astro.props
---

<a href="/" class="font-theme">
    <div class={className}>
    
        <Image 
            src={ HEADER_LOGO_PATH } 
            alt={SITE_FULL_NAME} 
            width={HEADER_LOGO_DIMENSIONS.width} 
            height={HEADER_LOGO_DIMENSIONS.height} 
        />

        {LOGO_NAME}

    </div>
</a>    



<style>

div {
    display : flex;
    align-items: center;
    gap : 0.5rem;

    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight : 600;

    stroke: var(--nav-bar-logo-color);
}

</style>