---
import { SOCIAL_LINKS } from "../config";
import BioLink from "./BioLink.astro";
import DeviantArtIcon from "./icons/DeviantArtIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import KofiIcon from "./icons/KofiIcon.astro";
import ThreadsIcon from "./icons/ThreadsIcon.astro";
import TumblrIcon from "./icons/TumblrIcon.astro";

const { class: className = ''} = Astro.props

---

<div class:list={["pl-3 lg:pl-16 border-l border-primary-500 text-primary-500", className]}>
    <ul class="grid lg:justify-end lg:text-right mb-6">
        <li class="font-bold">@pinkartwitch</li>
        <BioLink href={SOCIAL_LINKS.instagram} title="Instagram" Icon={InstagramIcon} />
        <BioLink href={SOCIAL_LINKS.deviantArt} title="DeviantArt" Icon={DeviantArtIcon} />
        <BioLink href={SOCIAL_LINKS.tumblr} title="Tumblr" Icon={TumblrIcon} />
        <BioLink href={SOCIAL_LINKS.threads} title="Threads" Icon={ThreadsIcon} />
    </ul>

    <ul class="grid lg:justify-end lg:text-right">
        <li class="font-bold">Support My Work</li>
        <BioLink href={SOCIAL_LINKS.kofi} title="Ko-fi" Icon={KofiIcon} />
    </ul>
</div>