---
import EvenColumns from "./EvenColumns.astro";
import TextFlow from "./TextFlow.astro";
import Image from "./Image.astro";

interface Props {
    date : string, 
    tags: string[],
    description : string,
    image : {
        url : string,
        width : number,
        height : number
    }
}

const {
    date, tags, description, image
} = Astro.props

---

<div class="grid lg:grid-cols-[1.5fr_2fr] gap-x-8 gap-y-8">
    <div class="bg-primary-300 rounded-lg min-h-[200px]">
        <Image 
            src={image.url}
            width={image.width}
            height={image.height}
            alt="Social Media Post"
            class="w-full h-full object-cover "
        />
    </div>

    <div class="grid grid-cols-[200px_1fr] gap-4">

        <div class="text-right">
            <div class="font-bold text-lg text-primary-500">{date}</div>
            <div class="flex gap-x-2 flex-wrap justify-end font-bold text-base">{tags.map( tag => (
                <span class="min-w-max">
                    #{tag}
                </span>
            ))}
            </div>
        </div>

        <div>
            <TextFlow class='mb-4'>
                <p>{description}</p>
            </TextFlow>

            <a href="#" class=" text-lg font-bold text-primary-500">View Post</a>
        </div>

    </div>
</div>